@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat';
    font-size: 14px;
    background-color: #fff;
}

img { width: 120px; }

footer {
    margin-top: 100px;
    background-color: #d20023;
    color: #fff;
    text-align: right;
    padding: 12px;
}

table { width: 100%; }

.m-0 { margin: 0; }
h4 {
    margin: 0 0 4px 0;
}